
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regulamin</h2>

<div class="flex-container">
    <div class="flex-item flex-item-pad">
        <iframe class="frame-edit" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.696103763265!2d21.420380715249184!3d50.05452392369538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d0980b9b32527%3A0x3a2b30c1e399245a!2sRzeszowska+77%2C+Rzeszowska+77%2C+39-200+D%C4%99bica!5e0!3m2!1spl!2spl!4v1565180505727!5m2!1spl!2spl" width="600" height="450" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="flex-item flex-item-pad">
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
    </div>
</div>