
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align: center; margin: 6%; margin-left: 30%; margin-right: 30%;">
    <h1>Drogi użytkowniku,</h1>
    <h2 style="text-align:justify;">@ViewBag.Message</h2>
</div>