@{
    ViewBag.Title = "Potwierdzenie żądania.";
}
<div id="" class="koszyk-a width-search-sitemap pad-sm border koszyk-sm-mg edit-width bg-light">
    <a class="anchor-edit" href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>
<div style="margin: 10%; text-align:center;">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>Na podany adres e-mail został wysłany link do utworzenia nowego hasła.</p>
    </div>
</div>
