@{
    ViewBag.Title = "Zmiana hasła powiodła się.";
}
<div id="" class="koszyk-a width-search-sitemap pad-sm border koszyk-sm-mg edit-width bg-light">
    <a class="anchor-edit" href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>
<div style="text-align:center; margin:5%;">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Zresetowano hasło. @Html.ActionLink("Kliknij tutaj, aby się zalogować.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="anchor-edit" })
        </p>
    </div>
</div>